
<div class="center hero-unit">


  <h3>
    Multi-blog
  </h3>
  <br />
  <p style="text-align:center"><img src="http://trendingdig.com/beta-wordpress/wp-content/uploads/2013/01/social-network-people-Monitiz.png" alt="network" align="middle"></p>
  <br />
  <p style="text-align:justify">
    Nekromancja (gr. νεκρομαντεία nekromanteía) – forma praktyk magicznych, w której czarujący (nekromanta) przyzywa cienie zmarłych w celu poznania prawdopodobnych wersji przyszłości lub celach własnych (np. usług). Słowo nekromancja pochodzi od greckiego νεκρός nekrós – martwy oraz μαντεία – wróżyć.

    Tego typu praktyka została opisana i zakazana już w Biblii: Nie zwracajcie się do mediów spirytystycznych i nie radźcie się tych, którzy trudnią się przepowiadaniem wydarzeń (Kpł 19,31). Odstępczy król Izraela, Saul, udał się do takiej wróżki, aby wywołać zmarłego proroka Samuela (1 Sam 28, 4-19). Także w świecie grecko-rzymskim praktykowano nekromancję. Najbardziej znaną fabułę związaną z nekromancją znajdujemy u Owidiusza, który opisał wywołanie Eurydyki przez jej męża, Orfeusza (Metamorfozy 10:49nn). W tego typu praktyki uwikłane były osoby z najwyższych sfer.

  </p>
  <br />

</div>